// Start Style The Website Header
header {
    .callus {
        background-color: $dark-orange;

        img {
            cursor: pointer;
        }
    }

    .languages {
        padding: 2px 0 6px;
        display: none;

        .language {

            .title {
                a {
                    svg {
                        display: inline-block;
                        width: 16px;
                        text-decoration: none;
                    }

                    span {
                        font: {
                            size: 14px;
                            weight: 500;
                        }

                        color: $orange;
                    }

                    &:hover {
                        span {
                            text-decoration: underline;
                            @include prefixer(text-decoration-color, $orange);
                        }

                        svg {
                            text-decoration: none;
                        }
                    }
                }
            }

            .language {
                font-size: 14px;

                .english {
                    padding-right: 10px;
                    opacity: 0.5;
                    cursor: default;

                    svg {
                        margin-right: 5px;
                    }

                    span {
                        &:last-of-type {
                            margin-left: 10px;
                        }
                    }

                }

                .arabic {
                    padding-left: 5px;

                    a {
                        color: $black;

                        svg {
                            margin-right: 5px;
                        }
                    }
                }
            }
        }

        @media (min-width: 768px) {
            display: block;
        }
    }

    .search {
        background-color: $white;
        padding: 15px 0;
        margin-bottom: 20px;
        box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.12);

        &.fixed {
            @media (min-width: 768px) {
                position: fixed;
                top: 0;
                z-index: 99999999;
                width: 100%;
            }
        }

        .search-box {
            .mobile-btn {
                cursor: pointer;

                .line {
                    height: 2.6px;
                    width: 25px;
                    margin: 3.4px 0;
                    background-color: $black;
                    @include prefixer(border-radius, 12px);
                    @include prefixer(transition, all 0.3s ease-in-out);
                }

                &:hover {
                    .line {
                        background-color: $orange;
                    }
                }

                @media (min-width: 768px) {
                    display: none;
                }
            }

            .close-sign {
                .line {
                    margin: 0 0 -3px 0;

                    &:first-of-type {
                        @include prefixer(transform, rotate(45deg));
                    }

                    &:nth-of-type(2) {
                        @include prefixer(transform, rotate(-45deg));
                    }

                    &:last-of-type {
                        display: none;
                    }
                }
            }

            .title {
                cursor: pointer;

                svg {
                    width: 100%;

                    @media (min-width: 992px) {
                        width: 75%;
                    }
                }
            }

            form {
                position: relative;
                order: 3;
                margin-top: 10px;

                svg {
                    position: absolute;
                    top: 10px;
                    left: 15px;

                    @media (min-width: 992px) {
                        top: 31%;
                        left: 4%;
                    }

                    @media (min-width: 1200px) {
                        left: 5%;
                    }
                }

                input {
                    width: 100%;
                    padding: 5px 35px;
                    border: 1px solid $gray;
                    color: $black;
                    @include prefixer(border-radius, 25px);

                    @media (min-width: 768px) {
                        width: 85%;
                        padding: 7.5px 35px;
                        @include prefixer(border-radius, 4px);
                    }

                    @media (min-width: 992px) {
                        width: 80%;
                    }
                }

                button {
                    @include prefixer(border-radius, 4px);
                    background-color: $orange;
                    color: $white;
                    border: none;
                    text-transform: uppercase;
                    padding: 9px 15px;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                    outline: none;
                    display: none;

                    &:hover {
                        background-color: $dark-orange;
                    }

                    @media (min-width: 768px) {
                        display: inline-block;
                    }
                }

                @media (min-width: 992px) {
                    order: 2;
                    margin-top: 0;
                    text-align: center;
                }
            }

            .icons {
                position: relative;

                .icon {
                    margin-right: 20px;
                    color: $black;
                    font-weight: 500;
                    cursor: pointer;
                    @include prefixer(border-radius, 4px);

                    &:nth-of-type(2) {
                        display: none;

                        @media (min-width: 768px) {
                            display: inline-block;
                        }
                    }

                    &:nth-of-type(3) {
                        margin: 0;
                    }

                    &.colored-icon {
                        background-color: $gray;

                        &:hover {
                            color: $black;
                        }
                    }

                    svg {
                        font-size: 18px;
                    }

                    .small {
                        font-size: 10px;
                        margin: 0 0 0 5px;
                        display: none;
                    }

                    span {
                        text-transform: capitalize;
                        display: none;

                        @media (min-width: 768px) {
                            display: inline-block;
                        }
                    }

                    &:hover {
                        color: $orange;
                    }

                    .icon-content {
                        display: none;
                        position: absolute;
                        top: 42px;
                        left: -18%;
                        background-color: white;
                        cursor: auto;
                        color: $black;
                        z-index: 9;
                        width: 200px;
                        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                        @include prefixer(border-radius, 4px);

                        button {
                            @include prefixer(border-radius, 4px);
                            background-color: $orange;
                            color: $white;
                            width: 80%;
                            border: none;
                            text-transform: uppercase;
                            padding: 9px 15px;
                            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                            margin: 20px 20px 30px;
                            outline: none;

                            &:hover {
                                background-color: $dark-orange;
                            }
                        }

                        .absolute {
                            position: absolute;
                            top: 78px;
                            left: 37%;
                            background-color: $white;
                            padding: 0px 15px;
                            text-transform: uppercase;
                            z-index: 1;
                        }

                        h3 {
                            position: relative;
                            text-align: center;
                            margin: 20px;
                            padding: 10px 5px;
                            font-size: 14px;
                            text-transform: uppercase;
                            @include prefixer(transition, all 0.3s ease-in-out);

                            &:hover {
                                background-color: $light-orange;
                                color: $orange;
                                @include prefixer(border-radius, 4px);
                                cursor: pointer;
                            }

                            &::before {
                                content: "";
                                border-top: 1.5px solid $light-gray2;
                                position: absolute;
                                left: -20px;
                                width: 125%;
                                top: -20px;
                            }

                            &::after {
                                content: "";
                                border-bottom: 2px solid $light-gray2;
                                position: absolute;
                                left: -20px;
                                width: 125%;
                                bottom: -10px;
                            }
                        }

                        .icon-icon {
                            padding: 10px 20px;
                            @include prefixer(transition, all 0.3s ease-in-out);

                            svg {
                                margin-right: 0;
                            }

                            span {
                                font: {
                                    size: 15px;
                                    weight: 400;
                                }

                                @include prefixer(transition, all 0.3s ease-in-out);
                            }

                            &:hover {
                                background-color: $light-gray;
                                cursor: pointer;

                                span {
                                    font-weight: 700;
                                }

                                &:last-of-type {
                                    @include prefixer(border-radius, 4px);
                                }
                            }
                        }
                    }

                    &:nth-child(2) {
                        .icon-content {
                            position: absolute;
                            top: 42px;
                            left: 18%;
                            background-color: white;
                            padding: 0;
                            cursor: auto;
                            color: $black;
                            z-index: 9;
                            width: 200px;
                            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                            @include prefixer(border-radius, 4px);


                            span {
                                display: block;
                                padding: 10px;
                                font-size: 15px;
                                font-weight: 400;
                                @include prefixer(transition, all 0.3s ease-in-out);

                                &:hover {
                                    background-color: $light-gray;
                                    font-weight: 700;
                                    cursor: pointer;

                                    &:first-of-type,
                                    &:last-of-type {
                                        @include prefixer(border-radius, 4px);
                                    }
                                }
                            }
                        }
                    }

                    @media (min-width: 768px) {
                        padding: 10px;
                        position: relative;
                    }

                    @media (min-width: 992px) {
                        margin-right: 0;
                    }
                }

                @media (min-width: 992px) {
                    order: 3;
                }
            }
        }
    }
}

// Finish Style The Website Header