$white:#fff;
$light-gray:#F5F5F5;
$light-gray2:#ededed;
$gray:#D4D2D4;
$gray2: #c7c7cd;
$dark-gray: #777;
$light-orange:#feefde;
$orange: #f68b1e;
$dark-orange: #D66F07;
$green:#498E0E;
$blue:#0040CE;
$red:#AD0000;
$light-black:#323232;
$black:#282828;